{{> head }}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Algo</h1>
        </div>
        <p>
            Cualquier cosa
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/a.png" class="img-thumbnail">
    </div>

{{> footer }}